<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <groups>
        <run>
            <include name="Purchase"/>
        </run>
    </groups>

    <groups>
        <run>
            <include name="ErrorHandling"/>
        </run>
    </groups>

    <listeners>
        <listener class-name="TestComponents.Listeners"></listener>
    </listeners>


    <test verbose="2" preserve-order="true" name="/Users/alextimofeev/IdeaProjects/SeleniumFrameworkDesign/src/test/java/alexacademy/tests/StandAloneTest.java">
        <classes>
            <class name="alexacademy.tests.StandAloneTest"/>
        </classes>
    </test>

    <test verbose="2" preserve-order="true" name="/Users/alextimofeev/IdeaProjects/SeleniumFrameworkDesign/src/test/java/alexacademy/tests/ErrorValidation.java">
        <classes>
            <class name="alexacademy.tests.ErrorValidation"/>
        </classes>
    </test>
</suite>