<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">

    <!--    <smth new + updated in my IDE>-->
    <!--    <Run Jenkins>-->
    <!--    <java -jar jenkins.war -httpPort=8080>-->

    <!--    <Log in>-->
    <!--    <http://localhost:8080/-->

<!--    <Run rests from a terminal>-->
<!--    <mvn -f /Users/alextimofeev/IdeaProjects/SeleniumFrameworkDesign/pom.xml test>-->

    <!--    <Run a specific test from a terminal>-->
<!--    <mvn -f /Users/alextimofeev/IdeaProjects/SeleniumFrameworkDesign/pom.xml test -PRegression>-->

    <!--    <Build triggers>-->
    <!--    <40 6 * * 0 - > - The build will be triggered at 6:40 AM each Sunday>


<!--    <groups>-->
<!--        <run>-->
<!--            <include name="Purchase"/>-->
<!--        </run>-->
<!--    </groups>-->

<!--    <groups>-->
<!--        <run>-->
<!--            <include name="ErrorHandling"/>-->
<!--        </run>-->
<!--    </groups>-->

    <listeners>
        <listener class-name="TestComponents.Listeners"></listener>
    </listeners>


    <test verbose="2" preserve-order="true" name="/Users/alextimofeev/IdeaProjects/SeleniumFrameworkDesign/src/test/java/alexacademy/tests/StandAloneTest.java">
        <classes>
            <class name="alexacademy.tests.StandAloneTest"/>
        </classes>
    </test>

    <test verbose="2" preserve-order="true" name="/Users/alextimofeev/IdeaProjects/SeleniumFrameworkDesign/src/test/java/alexacademy/tests/ErrorValidation.java">
        <classes>
            <class name="alexacademy.tests.ErrorValidation"/>
        </classes>
    </test>
</suite>
